<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
          <div class="form-group col-12">
            <label>Name</label>
            <input class="form-control" required ngModel name="userName">
          </div>
          <div class="form-group col-12">
            <label>Password</label>
            <input type="password" class="form-control" ngModel name="userPassword" required>
          </div>
          <div class="form-group col-12 pt-2">
            <button [disabled]="!formLogin.valid" type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-secondary ms-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
